@import "~assets/styles/_util/_lum_flexgrids.scss";

:root {
    --beige: #f2efea;
    --black: #1e1b18;
    --gray:#757575;
    --green:#20bf55;
    --pink: #f2557f;
    --purple: #403d58;
    --violet: #a5668b;
}